
.gitignore
.idea/dataSources.local.xml
.idea/dataSources/3e6ec72f-7516-438e-9c13-fc42c4c55d5f/_src_/
.idea/dataSources/3e6ec72f-7516-438e-9c13-fc42c4c55d5f/_staging_/
.idea/dataSources/52fb1db5-49ff-48af-9c8e-414e9a3eab07/_src_/
.idea/dataSources/52fb1db5-49ff-48af-9c8e-414e9a3eab07/_staging_/
.idea/workspace.xml
.idea/
tdd_django/
db.sqlite3
